.exchangeRao{
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.depthButton{
    display: block;
    margin: 0 auto;
}

.selectDate{
    width: 500px;
    margin: 0 auto;
}

.depthData{
    margin: 20px auto;
}